@import url("./geral.css");
@import url("./modal.css");
@import url("./tooltip.css");
@import url("./dropDownMenu.css");
@import url("./menuMobile.css");
@import url("./numeros.css");
@import url("./slide.css");
